body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
}

.card p {
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
}

.danger {
    background: #7f1d1d;
}

.chart-container {
    max-width: 500px;
    margin: auto;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #1e293b;
}

th,
td {
    padding: 12px;
    text-align: center;
}

th {
    background: #334155;
}

tr:nth-child(even) {
    background: #1f2937;
}